attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
contourpy==1.2.0
coverage==7.4.3
cycler==0.12.1
DateTime==5.4
exceptiongroup==1.2.0
fiona==1.9.5
fontawesomefree==6.5.1
fonttools==4.49.0
geopandas==0.14.3
greenlet==3.0.3
idna==3.6
iniconfig==2.0.0
kiwisolver==1.4.5
logging==0.4.9.6
matplotlib==3.8.3
networkx==3.2.1
numpy==1.26.4
packaging==23.2
pandas==2.2.1
pillow==10.2.0
pluggy==1.4.0
pprintpp==0.4.0
psycopg2==2.9.9
pycountry==23.12.11
pycountry-convert==0.7.2
pycurl==7.45.3
pyparsing==3.1.1
pyproj==3.6.1
pytest==8.1.0
pytest-cov==4.1.0
pytest-mock==3.12.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywaffle==1.1.0
ratelimiter==1.2.0.post0
repoze.lru==0.7
requests==2.31.0
shapely==2.0.3
six==1.16.0
SQLAlchemy==2.0.27
tomli==2.0.1
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
zope.interface==6.2
